.THIS .display{
    display:none;
}
.THIS .displayBlock{
    display:block;
}
.THIS .dropDownColor{
    fill:currentColor;
}
.THIS .borderRemove {
    border:none;
    width: 100%;
}
.THIS .slds-truncate{
    white-space: pre-wrap;
}

.THIS .slds-card__header {
    padding-top: 8px;
    margin-bottom: .2rem;
}

.THIS .slds-box {
    padding: 0rem;
    height: 50px;
}

.THIS .slds-box {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-section.slds-is-open .slds-section__content {
    padding-top: 0;
}
.THIS .slds-button:focus {
   box-shadow: 0 0 0px #0070d2;
}
.THIS .slds-card__header {
    padding-top: 0.20rem;
    margin-bottom: 0.20rem;
}
.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .slds-card__footer {
    padding-bottom: 0.25rem !important;
}
.THIS .help-tooltip:after{
    content:'';
    position: absolute;
    right: -16px;
    border-width: 8px;
    border-color: transparent transparent transparent #16325c;
    border-style: solid;
    top: 50%;
    transform: translate(0, -50%);
}

.THIS .help-tooltip{
    width: 10rem;
    right: 2em;
}

.THIS .toggle {
    display: none;
}