<template>
    <lightning-card  title="Interest Calculator">
        <lightning-input type="number" name="input7" label="Prinicpal Amount" value={prinicpalAmount} formatter="currency" step="0.01" placeholder="enter pricipal amount..." onchange={onPAmtChange}></lightning-input>
        <lightning-input type="number" name="input6" label="Rate of Interest" value={rateOfInterest} step="0.01"  placeholder="enter rate of interest..." onchange={onRateChange}></lightning-input>
        <lightning-input type="number" name="input7" label="Time Period" value={periodOfTime} step="0.01" placeholder="enter time period..." onchange={onPeriodChange}></lightning-input>
        <lightning-button variant="brand" label="Calculate" title="Calculate" onclick={calculateInterest}></lightning-button>
        <p>Total Amount: {accuredAmount}</p>
    </lightning-card>
</template>