<!--
  @File Name          : park_lwc.html
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 29/11/2019, 8:17:18 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    29/11/2019   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<template>
    Images Park Sightnings
    <template if:true={imageUrls.data}>
            <lightning-carousel>
                <template for:each={imageUrls.data} for:item="urlVar">
                    <lightning-carousel-image key={urlVar} src={urlVar}></lightning-carousel-image>                    
                </template>
            </lightning-carousel>
        </template>
</template>