.THIS .alignRight{
    text-align: right;
    padding-right: 2.5rem;
}
.THIS .removeBorder{
    border:none;
}
/*toggleCss.css*/
.THIS .toggle {
    display: none;
}
.THIS .slds-card__header {
    padding-top: 0.20rem;
    margin-bottom: 0.20rem;
}

.THIS .slds-table th{
    padding: .5rem;
    white-space: pre-wrap;
    position: relative;
}

.THIS .addBorderLeft{
    border-left: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderRight{
    border-right: 1px solid rgb(216, 221, 230);
}
.THIS .addBorderBottom{
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .bold{
    font-weight: bold;
}

.THIS .align-center{
    text-align: center;
}

.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .readMode {
    display: block;
}
.THIS .editMode {
    display: none;
}

.THIS .hideShow{
    display:none;
}

.THIS .italic{
	font-style: italic;   
}