<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 11-03-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   11-03-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <lightning-card>
        <lightning-record-form
            object-api-name={contactApiName}
            fields={contactFields}
            onsuccess={handleSuccess}>
        </lightning-record-form>
    </lightning-card>
</template>