.THIS .slds-card__header {
    padding-top: 0.20rem;
    margin-bottom: 0.20rem;
}

.THIS .subHeaderHeight{
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: none;
}
.THIS .toggle {
   display: none;
 }

.THIS .help-tooltip{
    width: 20rem;
    right: 2em;
    top: -50%;
}

.THIS .help-tooltip:after{
    content:'';
    position: absolute;
    right: -16px;
    border-width: 8px;
    border-color: transparent transparent transparent #16325c;
    border-style: solid;
    top: 50%;
    transform: translate(0, -50%);
}
.THIS .flex-alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}