.THIS .slds-form-element__label{
    display:none;
}
.THIS div.slds-textarea{
    background: transparent;
    border: none;
    padding: 0;
}

.THIS .textCounter{
	position: absolute;
    bottom: 5px;
    right: 16px;
    padding: 0.1em 0.5em;
    /* background: rgb(22, 50, 92); */
    color: #0070d2;
    font-size: 11px;
    border-radius: 2px 0 0 0;
    font-weight: 600;
}