.THIS.c-container {
    border: 15px solid #d6d5d5;
    margin: 10px 0 20px 0;
}

.THIS .custom-box {
    text-align: center;
    /*background-color: #f4f6f9;*/
    padding: 1rem;
    /*border: 1px solid #d8dde6;*/
}

.THIS .vl {
  border-left: 3px solid lightgrey;
  height: 140px;
}

.THIS .badgesHeading{
    font-weight: bold;
    font-size: x-large;
    color: #51a2e0;
}