.THIS .slds-global-header_container{
	 position:static !important;
 }

.THIS .fixed-body-height{
   max-height: 150px;
    overflow: auto;
}

.THIS .help-tooltip:after{
    content:'';
    position: absolute;
    right: -16px;
    border-width: 8px;
    border-color: transparent transparent transparent #16325c;
    border-style: solid;
    top: 50%;
    transform: translate(0, -50%);
}

.THIS .flex-alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}