<template>
    <p class="slds-m-bottom_small">
        <lightning-button name='Account' label="Load Accounts" onclick={loadData}></lightning-button>
        <lightning-button name='Contact' label="Load Contacts" onclick={loadData}></lightning-button>
        <lightning-button name='Opportunities' label="Load Opportunnities" onclick={loadData}></lightning-button>
        
        <template if:true={fetchedList}>
           <!--<lightning-button label="Refresh" onclick={loadData}></lightning-button>-->
        </template>
    </p>
    <lightning-card if:true={fetchedList} title="Fetched {btnName}" icon-name="custom:custom63">
        <!--<div class="slds-m-around_medium">
            <template if:true={contacts.data}>
                <template for:each={contacts.data} for:item="contact">
                        <p key={contact.Id}>{contact.Name}</p>
                    </template>
            </template>
            <p class="slds-m-bottom_small">
                    <lightning-button label="Load Accounts" onclick={loadData}></lightning-button>
                </p>
        </div>-->

        <div class="slds-m-around_medium slds_card slds-card_boundary">
            <template if:true={isLoaded} class="slds-is-relative">
                <lightning-spinner
                    alternative-text="Loading...">
                </lightning-spinner>
            </template>       

            <template if:true={fetchedList}>
                <!--<lightning-input type="search" onchange={getKeyedInAccount} class="slds-m-bottom_small" label="Search Account" value={searchKey}></lightning-input>-->
                <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" style="border-right: 1px solid rgb(221, 219, 218)">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <!--<th class="" scope="col">
                                <div class="slds-truncate" title="Account Id">Account Id</div>
                            </th>-->
                            <th class="" scope="col">
                                <div class="slds-truncate" title="\{btnName} Name">{btnName} Name</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={fetchedList} for:item="record">
                            <tr key={record.Id} class="slds-hint-parent">
                                <!--<td data-label="Account Id">
                                    <div class="slds-truncate" title={account.Id}>{account.Id}</div>
                                </td>-->
                                <td data-label="\{btnName} Name">
                                        <div class="slds-truncate" title={record.Name}>{record.Name}</div>
                                    </td>
                            </tr>
                               <!-- <p key={account.Id}>{account.Name}</p>-->
                        </template>
                    </tbody>
                </table>
            </template>

            <template if:true={errorOccured}>
                <p>Unable to fetch data.. Try again!</p>
            </template>
        </div>
    </lightning-card>
</template>