<template>
    <lightning-card title="Contacts Dynamically" icon-name="custom:custom63">
        <div class="slds-p-around_medium">
            <lightning-input type="search" onchange={getKeyedInContact} class="slds-m-bottom_small" label="Search Contact" value={searchKey}></lightning-input>
            <template if:true={contacts.data}>
                <template for:each={contacts.data} for:item="contact">
                        <p key={contact.Id}>{contact.Name}</p>
                </template>
            </template>
        </div>
    </lightning-card>
</template>